.box{
		width: 100%;
		height: auto;
		/*padding: 40px 60px;*/
		}

	.section1{
/*		background-image: url("back1.jpg");
		opacity: 95%;
		background-repeat: no-repeat;*/
		height:auto;
		background-color: black;
		/*background-size: cover;*/
	}

p{
	font-size: 20px;
}

h1 {
  font-size: 5vmax;
  color: white;
}

@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width:100%;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.text_1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(40, end);
  animation-iteration-count: infinite;
}


.text_1::after {
  content: " | ";
  color: white;
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

h2{
	font-size: 4vmax;
}

p{
	font-size: 2vmax;
}


/*
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


.left {
  left: 0;
  background-color: black;
}


.right {
  right: 0;
  background-color: red;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}*/

/* Style the image inside the centered container, if needed */
/*.centered img {
  width: 150px;
  border-radius: 50%;
}*/

/*#title{font-family: 'Lobster', cursive;;}*/

/*.link{
    color: #333;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    line-height: 23px;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 3px;
    display: inline-block;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -0.6em;
    position: relative;
    transition: transform 0.3s ease;
}
.link:hover{
    color: #333;
    transform: rotateX(90deg);
}
.link:before{
    content: attr(data-hover);
    color: #fff;
    background: linear-gradient(#ff793f,#cd6133);
    padding: 3px;
    border-radius: 5px 0 5px;
    transform-origin: 50% 0;
    transform: rotateX(-90deg);
    position: absolute;
    top: 100%;
    left: 0;
}
@media only screen and (max-width: 767px){
    .link{ margin: 0 0 30px; }
}*/